body {
    /*height: 2492px;*/
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background: url(../images/bg.jpg) no-repeat 0 0;
    background-size: cover;
}

.wei {
    z-index: 99;
    position: absolute;
    align-self: flex-end;
    display: block;
    top: 460px;
    width: 80px;
    height: 80px;
    background: url(../images/wei.png) no-repeat center;
    background-size: 100%;
}

.nav {
    position: relative;
    align-self: flex-start;
    top: 40px;
    left: 20px;
    width: 120px;
    height: 30px;
    background: url(../images/banner.png) no-repeat 0 0;
    background-size: 100%;
}

.banner-title {
    margin-top: 40px;
    width: 236px;
    height: 186px;
    background: url(../images/banner-title.png) no-repeat 0 0;
    background-size: 100%;
}

.banner {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.slogan {
    width: 100%;
    height: 60px;
    margin: 32px 0 10px 0;
    flex-basis: 100%;
    text-align: center;
    background: url(../images/slogan.png) no-repeat center;
}

.banner-img {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.banner-pro {
    z-index: 1;
    flex-basis: 100%;
    width: 90%;
    height: 160px;
    margin-bottom: 50px;
    background: url(../images/banner-pro.png) no-repeat 0 0;
    background-size: 100%;
}

.banner-bg {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    height: 200px;
    background: url(../images/banner-bg.png) no-repeat 0 0;
    background-size: 100%;
}

.step {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    /*height: 1340px;*/
    /*background-color: #ccc;*/
}

.step-title {
    display: block;
    width: 100%;
    height: 60px;
    background: url(../images/step-title.png) no-repeat center;
    background-size: 40%;
}

.step-img {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.step-img div {
    width: 130px;
    height: 260px;
    /*width: 10rem;
    height: 18rem;*/
    margin: 0 10px;
}

.step-1-1 {
    background: url(../images/step-1-1.png) no-repeat 0 0;
    background-size: 100%;
}

.step-1-2 {
    background: url(../images/step-1-1.png) no-repeat 0 0;
    background-size: 100%;
}

.step-2-1 {
    background: url(../images/step-1-1.png) no-repeat 0 0;
    background-size: 100%;
}

.step-2-2 {
    background: url(../images/step-1-1.png) no-repeat 0 0;
    background-size: 100%;
}

.step-3-1 {
    background: url(../images/step-1-1.png) no-repeat 0 0;
    background-size: 100%;
}

.rule {
    position: relative;
    width: 100%;
    color: #fff;
}

.rule h3 {
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.rule p {
    line-height: 28px;
    padding: 0 5%;
    margin-bottom: 20px;
}
